<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741452477547-73kd4kqal8lfmo76bbfh1v7e7dej1m61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741452477547-73kd4kqal8lfmo76bbfh1v7e7dej1m61</string>
	<key>API_KEY</key>
	<string>AIzaSyAtoFiE87XDWXKq-7bChbWIu_SxGINSwPU</string>
	<key>GCM_SENDER_ID</key>
	<string>741452477547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomarry</string>
	<key>PROJECT_ID</key>
	<string>gomarry-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gomarry-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741452477547:ios:9da386c069cebef6</string>
	<key>DATABASE_URL</key>
	<string>https://gomarry-app.firebaseio.com</string>
</dict>
</plist>